@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* -------------------------------unviversal selector---------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none !important;
}

/* ---------------------------------------------root------------------------------------------- */
:root {

  --ff-sans: "Manrope",
    sans-serif;

  --fw-3: 300;
  --fw-4: 400;
  --fw-5: 500;
  --fw-6: 600;
  --fw-7: 700;
  --fw-8: 800;


  --black-color: #000000;
  --white-color: #ffff;
  --primary-color: #FFF624;
  --black-300: #C1C1C1;
  --black-200: #A9A9A9;
  --black-100: #D9D9D9;
  --brown-50: #161505;
  --background-color: #FFFFFF14;
  --card-bg-color: #13130F;
  --border-color: #FFFFFF3D;
  --img-card-bg-color: #191919;
  --clair-btn-bg-color: #FFF6243D;
  --border-gradient: linear-gradient(123.75deg, rgba(255, 255, 255, 0.2) 11.04%, rgba(255, 255, 255, 0.02) 87.64%);
  --phase-card-border: linear-gradient(153.46deg, rgba(255, 246, 36, 0.4) -9.68%, rgba(255, 246, 36, 0) 119.9%);
  --slider-border-gradient: linear-gradient(150.17deg, rgba(255, 246, 36, 0.4) -60.4%, rgba(255, 246, 36, 0) 118.96%);
  --social-card-border-gradient: linear-gradient(96.24deg, rgba(241, 241, 241, 0.24) -31.57%, rgba(241, 241, 241, 0) 125.48%);

  --fs-10: 10px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-21: 21px;
  --fs-24: 24px;
  --fs-25: 25px;
  --fs-28: 28px;
  --fs-30: 30px;
  --fs-32: 32px;
  --fs-36: 36px;
  --fs-40: 40px;
  --fs-44: 44px;
  --fs-48: 48px;
  --fs-50: 50px;
  --fs-52: 52px;
  --fs-60: 60px;
  --fs-61: 61px;
  --fs-64: 64px;
  --fs-70: 70px;
  --fs-72: 72px;
  --fs-80: 80px;
  --fs-157: 157px;


  --lh-16: 16px;
  --lh-19: 19px;
  --lh-21: 21px;
  --lh-20: 20px;
  --lh-23: 23px;
  --lh-24: 24px;
  --lh-26: 26px;
  --lh-27: 27px;
  --lh-28: 28px;
  --lh-29: 29px;
  --lh-30: 30px;
  --lh-32: 32px;
  --lh-35: 35px;
  --lh-37: 37px;
  --lh-39: 39px;
  --lh-40: 40px;
  --lh-41: 41px;
  --lh-42: 42px;
  --lh-45: 45px;
  --lh-49: 49px;
  --lh-54: 54px;
  --lh-56: 56px;
  --lh-61: 61px;
  --lh-64: 64px;
  --lh-68: 68px;
  --lh-72: 72px;
  --lh-75: 75px;
  --lh-83: 83px;
  --lh-86: 86px;
  --lh-100: 100px;
  --lh-188: 188px;
}

.ff-sans {
  font-family: var(--ff-sans);
}

.lh-26 {
  line-height: var(--lh-26);
}

.lh-23 {
  line-height: var(--lh-23);
}

.lh-45 {
  line-height: var(--lh-45);
}

.lh-42 {
  line-height: var(--lh-42);
}

.lh-30 {
  line-height: var(--lh-30);
}

.lh-35 {
  line-height: var(--lh-35)
}

.lh-16 {
  line-height: var(--lh-16);
}

.lh-61 {
  line-height: var(--lh-61);
}

.lh-40 {
  line-height: var(--lh-40);

}

.lh-68 {
  line-height: var(--lh-68);
}

.lh-37 {
  line-height: var(--lh-37);
}

.lh-41 {
  line-height: var(--lh-41);
}

.lh-19 {
  line-height: var(--lh-19);
}

.lh-24 {
  line-height: var(--lh-24);
}

.lh-29 {
  line-height: var(--lh-29);
}

.lh-20 {
  line-height: var(--lh-20);
}

.lh-21 {
  line-height: var(--lh-21);
}

.lh-83 {
  line-height: var(--lh-83);
}

.lh-54 {
  line-height: var(--lh-54);
}

.lh-56 {
  line-height: var(--lh-56);
}


.lh-32 {
  line-height: var(--lh-32);
}

.lh-86 {
  line-height: var(--lh-86);
}

.lh-72 {
  line-height: var(--lh-72);
}

.lh-75 {
  line-height: var(--lh-75);
}

.lh-39 {
  line-height: var(--lh-39);
}

.lh-27 {
  line-height: var(--lh-27);
}

.lh-64 {
  line-height: var(--lh-64);
}

.lh-28 {
  line-height: var(--lh-28);
}

.lh-49 {
  line-height: var(--lh-49);
}

.lh-188 {
  line-height: var(--lh-188);
}

.lh-100 {
  line-height: var(--lh-100);
}

.fs-14 {
  font-size: var(--fs-14);
}

.fs-15 {
  font-size: var(--fs-15);
}

.fs-48 {
  font-size: var(--fs-48);
}

.fs-32 {
  font-size: var(--fs-32);
}

.fs-25 {
  font-size: var(--fs-25);
}

.fs-28 {
  font-size: var(--fs-28);
}

.fs-50 {
  font-size: var(--fs-50);
}

.fs-44 {
  font-size: var(--fs-44);
}

.fs-64 {
  font-size: var(--fs-64);
}

.fs-16 {
  font-size: var(--fs-16);
}

.fs-61 {
  font-size: var(--fs-61);
}

.fs-18 {
  font-size: var(--fs-18);
}

.fs-24 {
  font-size: var(--fs-24);
}

.fs-10 {
  font-size: var(--fs-10);
}

.fs-52 {
  font-size: var(--fs-52);
}

.fs-40 {
  font-size: var(--fs-40);
}

.fs-36 {
  font-size: var(--fs-36);
}

.fs-72 {
  font-size: var(--fs-72);
}

.fs-157 {
  font-size: var(--fs-157);
}

.fs-20 {
  font-size: var(--fs-20);
}

.fs-30 {
  font-size: var(--fs-30);
}

.fs-80 {
  font-size: var(--fs-80);
}

.fs-21 {
  font-size: var(--fs-21);
}

.fs-70 {
  font-size: var(--fs-70);
}

.white {
  color: var(--white-color);
}

.curser {
  cursor: pointer;
}

.primary-color {
  color: var(--primary-color);
}

.black-100 {
  color: var(--black-100);
}

.black-300 {
  color: var(--black-300);
}

.black-200 {
  color: var(--black-200);
}


.header_bg_img {
  background-image: url("../src/assets/img/png/hero_bg_img.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.max-w-702 {
  max-width: 702px;
}

.max_w_810 {
  max-width: 810px;
}

/*================= nav bar =========================*/

.token_range {
  position: relative;
  /* transform: translate(12px, -29px); */
  top: -16%;
}

.gap_32 {
  gap: 32px;
}

.w-24 {
  width: 24px;
}

.h-24 {
  height: 24px;
}

.gap_2 {
  gap: 2px;
}

.container_1140 {
  max-width: 1140px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.nav_bg_color {
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

/*================== hero section ==================*/
.bttn {
  padding: 12px 24px 12px 24px;
  border-radius: 10px;
  background-color: var(--primary-color);
  border: 2px solid transparent;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

.bttn:hover {
  background-color: var(--white-color);
  border: 2px solid var(--primary-color);
}

.mt_32 {
  margin-top: 32px;
}

.gap_60 {
  gap: 60px;
}

.nav_links {
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

.nav_links:hover {
  color: var(--primary-color) !important;
  -webkit-text-stroke: thin;
}

.downside_icon {
  width: 40px;
  height: 40px;
  bottom: 5%;
  right: 5%;
}

.countDown_card {
  padding: 40px;
  background: var(--background-color);
  border: 1px solid;
  position: relative;
  border-radius: 20px;
}


.countDown_card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 1px;
  background: var(--border-gradient);
  -webkit-mask:
    -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box,
    -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.countdown_container {
  max-width: 818px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.gap_10 {
  gap: 10px;
}

.container_856 {
  max-width: 856px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.pt_100 {
  padding-top: 100px;
}

.max-776 {
  width: 776px;
}

.max-w-856 {
  max-width: 856px;
}

.max-w-491 {
  max-width: 491px;
}

/*================== adress section =================*/


.bg-brown {
  background-color: var(--brown-50);
}

.pb_154 {
  padding-bottom: 154px;
}

.max-w-806 {
  max-width: 806px;
}

.pt_32 {
  padding-top: 32px;
}

.copy_input::-webkit-input-placeholder {
  font-family: var(--ff-sans);
}

.copy_input::-moz-placeholder {
  font-family: var(--ff-sans);
}

.copy_input:-ms-input-placeholder {
  font-family: var(--ff-sans);
}

.copy_input::-ms-input-placeholder {
  font-family: var(--ff-sans);
}

.copy_input::placeholder {
  font-family: var(--ff-sans);
}

.adress_bg_img {
  background-image: url("./assets/img/png/adress_bg_img.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*================ tokenomics ================*/
.container_1140 {
  max-width: 1140px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.container_950 {
  max-width: 950px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.clair_btn {
  padding: 4px 16px 4px 16px;
  border: 1px solid var(--clair-btn-bg-color);
  border-radius: 6px;
  background-color: transparent;
}

.gap_12 {
  gap: 12px;
}

.tokenomics_arrow {
  width: 46px;
}

.pt_12 {
  padding-top: 12px;
}

.community-card {
  width: 100%;
  border-radius: 16px;
  position: relative;
  padding: 20px 40px 20px 40px;
  background: var(--card-bg-color);
}

.community-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 1px;
  background: var(--social-card-border-gradient);
  -webkit-mask:
    -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box,
    -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.img_card {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-color: var(--img-card-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gap_20 {
  gap: 20px;
}

.plus_icon {
  width: 32px;
  height: 32px;
}



.input_txt {
  border: 1px solid var(--border-color);
  max-width: 514px;
  width: 100%;
  border-radius: 8px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.copy_input {
  outline: none;
  padding: 12px;
  color: var(--black-300);
}

.copy_input::-webkit-input-placeholder {
  color: var(--black-300);
}

.copy_input::-moz-placeholder {
  color: var(--black-300);
}

.copy_input:-ms-input-placeholder {
  color: var(--black-300);
}

.copy_input::-ms-input-placeholder {
  color: var(--black-300);
}

.copy_input::placeholder {
  color: var(--black-300);
}

.lock_img {
  padding: 128px 189px 84px 229px;
}

.w-245 {
  width: 245px;
}

.h-245 {
  height: 245px;
}

.yellowUnderline {
  background-color: var(--primary-color);
  width: 100%;
  height: 1px;
  opacity: 30%;
  margin-top: 83px;
}

.pt_61 {
  padding-top: 61px;
}

.contaier_1080 {
  max-width: 1080px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.slider_box {
  background: var(--background-color);
  border-radius: 16px;
  position: relative;
  padding: 40px 15px 15px 15px;
}

.slider_box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 1px;
  background: var(--slider-border-gradient);
  -webkit-mask:
    -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box,
    -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.w-267 {
  width: 267px;
}

.h-99 {
  height: 99px;
}

.secure_bg_img {
  background-image: url("../src/assets/img/png/secure_bg_img.webp");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


.slider_scroll::-webkit-scrollbar {
  display: none;
}

.slider_bigger_underline {
  border: 1px solid var(--primary-color);
  height: 1px;
  width: 100%;
  opacity: 20%;
}

.cursor-w-resize {
  cursor: w-resize;
}

.slider_smaller_underline {
  border: 1px solid var(--primary-color);
  height: 1px;
  max-width: 57px;
  width: 100%;
  opacity: 20%;
}



.pt_177 {
  padding-top: 177px;
}

.faq_bg_img {
  background-image: url("./assets/img/png/faq_bg_img.webp");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.time_box {
  width: 50px;
  height: 40px;
  border-radius: 4px;
  background: rgba(255, 246, 36, 0.2);
}


/*=================== faq section ======================*/
.accordion-item {
  border: 1px solid var(--border-color) !important;
  background: var(--background-color) !important;
  border-radius: 8px !important;
}

.accordion-body {
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 0 !important;
}

.accordion-button:focus {
  border-color: var(--border-color) !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  color: var(--white-color) !important;
  font-size: var(--fs-16) !important;
  text-transform: uppercase !important;

}

.accordion-button.collapsed {
  color: var(--black-200) !important;
}

.accordion-button:not(.collapsed)::after {
  color: var(--black-200) !important;
}

.accordion-button::after {
  content: "";
  background-image: url("../src/assets/img/png/down_side-icon.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 16px;
  height: 9px;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../src/assets/img/png/down_side-icon.png");
  width: 16px;
  height: 9px;
}

.container_800 {
  max-width: 800px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.accordion-button {
  background-color: transparent !important;
}

.accordion {
  --bs-accordion-bg: var(--background-color) !important;
}


.p_12 {
  padding: 12px;
}

.mt_60 {
  margin-top: 60px;
}

.pt_80 {
  padding-top: 80px;
}

.pt_90 {
  padding-top: 90px;
}



.accordion-button:not(.collapsed) {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/*============================= social  ======================*/
.container_840 {
  max-width: 840px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.social_card {
  width: 100%;
  border-radius: 16px;
  position: relative;
  background: var(--card-bg-color);
}

.social_card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 1px;
  background: var(--social-card-border-gradient);
  -webkit-mask:
    -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box,
    -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.scoial_media_icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  background: var(--background-color);
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}

.scoial_media_icon:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.pb_40 {
  padding-bottom: 40px;
}

/*================ footer =================*/
.max-w-626 {
  max-width: 626px;
}

.footer_underline {
  width: 100%;
  height: 1px;
  background: var(--primary-color);
  opacity: 20%;
  margin-top: 40px;
}

.about_sec_ellips {
  position: absolute;
  right: 15%;
  top: 2%;
}

.max-w-284 {
  max-width: 284px;
}

.social_dino_ellips {
  position: absolute;
  right: 7%;
  top: -5%;
}

/*=========================== roadmap =====================*/
.roadmap_bg_img {
  background-image: url("../src/assets/img/png/roadmap_bg_img.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.phase_card {
  min-height: 328px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 70px;
  position: relative;
  border: 1px solid;
  border-radius: 16px;
  background: var(--background-color);
  max-width: 300px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.phase_card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 1px;
  background: var(--phase-card-border);
  -webkit-mask:
    -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box,
    -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.dots {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--black-300);
}

.candleStickPattern {
  position: relative;
}

.max-w-776 {
  max-width: 776px;
}

.candleStickPattern::after {
  content: "";
  background-image: url("../src/assets/img/png/candle_img.webp");
  position: absolute;
  width: 100%;
  min-height: 642px;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pt_152 {
  padding-top: 152px;
}

.max-w-300 {
  max-width: 300px;
}

.max-w-284 {
  max-width: 284px;
}


.footer_links {
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

.footer_links:hover {
  -webkit-text-stroke: thin;
  color: var(--primary-color);
}

.pb_150 {
  padding-bottom: 150px;
}

/* Media Quries */

@media (max-width: 992px) {
  .lg_view {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: var(--black-color);
    z-index: 10;
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
  }

  .d-max-lg-prop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }


  .menuIocn {
    width: 35px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 11;
    cursor: pointer;
  }

  .slider_box {
    padding: 30px 15px 15px 15px !important;
  }

  .menuIocn span {
    width: 100%;
    background-color: var(--white-color);
    height: 4px;
    border-radius: 4px;
  }

  .show {
    left: 0;
  }

  .countDown_card {
    padding: 30px;
  }

  .faq_bg_img {
    background-size: cover;
  }

  .secure_bg_img {
    background-size: cover;
  }
}

@media (max-width:768px) {


  .fs-md-40 {
    font-size: var(--fs-40) !important;
  }

  .lh-md-54 {
    line-height: var(--lh-54) !important;
  }

  .fs-md-32 {
    font-size: var(--fs-32);
  }

  .lh-md-37 {
    line-height: var(--lh-37);
  }
}

@media (max-width:576px) {


  .countDown_card {
    padding: 15px;
  }

  .mt_16 {
    margin-top: 16px;
  }

  .slider_box {
    padding: 20px 15px 15px 15px !important;
  }

}

@media (min-width:576px) {
  .pt_sm_80 {
    padding-top: 80px !important;
  }

  .pb_sm_80 {
    padding-bottom: 80px !important;
  }

  .pb_sm_70 {
    padding-bottom: 70px !important;
  }

  .gap_30 {
    gap: 30px !important;
  }

  .mt_sm_70 {
    margin-top: 70px !important;
  }
}

@media (min-width:992px) {
  .gap_75 {
    gap: 75px !important;
  }

  .mt_lg_100 {
    margin-top: 100px !important;
  }

  .community-card {
    padding: 32px 65px 32px 65px !important;
  }

  .mt_lg_80 {
    margin-top: 80px !important;
  }

  .mt_178 {
    margin-top: 178px;
  }

  .mt_80 {
    margin-top: 80px;
  }

  .phase_card::after {
    position: absolute;
    content: "";
    background-image: url("../src/assets/img/png/roadmap_box_after_img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    right: 50%;
    width: 25px;
    height: 70px;
    -webkit-transform: translate(-0px, 60px);
    -ms-transform: translate(-0px, 60px);
    transform: translate(-0px, 60px);
  }

  .pt_lg_152 {
    padding-top: 152px !important;
  }

  .pb_lg_160 {
    padding-bottom: 160px !important;
  }

  .gap_lg_32 {
    gap: 32px !important;
  }

  .pb_lg_97 {
    padding-bottom: 97px !important;
  }

  .pb_350 {
    padding-bottom: 350px !important;
  }


}